[submodule "bom"]
  path = bom
  url = git@github.com:ao-apps/semanticcms-core-bom.git
  branch = .
[submodule "all"]
  path = all
  url = git@github.com:ao-apps/semanticcms-core-all.git
  branch = .
[submodule "breadcrumblist-json-ld"]
  path = breadcrumblist-json-ld
  url = git@github.com:ao-apps/semanticcms-core-breadcrumblist-json-ld.git
  branch = .
[submodule "canonical"]
  path = canonical
  url = git@github.com:ao-apps/semanticcms-core-canonical.git
  branch = .
[submodule "controller"]
  path = controller
  url = git@github.com:ao-apps/semanticcms-core-controller.git
  branch = .
[submodule "docs"]
  path = docs
  url = git@github.com:ao-apps/semanticcms-core-docs.git
  branch = .
[submodule "model"]
  path = model
  url = git@github.com:ao-apps/semanticcms-core-model.git
  branch = .
[submodule "pages"]
  path = pages
  url = git@github.com:ao-apps/semanticcms-core-pages.git
  branch = .
[submodule "pages-jsp"]
  path = pages-jsp
  url = git@github.com:ao-apps/semanticcms-core-pages-jsp.git
  branch = .
[submodule "pages-jspx"]
  path = pages-jspx
  url = git@github.com:ao-apps/semanticcms-core-pages-jspx.git
  branch = .
[submodule "pages-local"]
  path = pages-local
  url = git@github.com:ao-apps/semanticcms-core-pages-local.git
  branch = .
[submodule "pages-servlet"]
  path = pages-servlet
  url = git@github.com:ao-apps/semanticcms-core-pages-servlet.git
  branch = .
[submodule "pages-union"]
  path = pages-union
  url = git@github.com:ao-apps/semanticcms-core-pages-union.git
  branch = .
[submodule "renderer"]
  path = renderer
  url = git@github.com:ao-apps/semanticcms-core-renderer.git
  branch = .
[submodule "renderer-html"]
  path = renderer-html
  url = git@github.com:ao-apps/semanticcms-core-renderer-html.git
  branch = .
[submodule "renderer-servlet"]
  path = renderer-servlet
  url = git@github.com:ao-apps/semanticcms-core-renderer-servlet.git
  branch = .
[submodule "resources"]
  path = resources
  url = git@github.com:ao-apps/semanticcms-core-resources.git
  branch = .
[submodule "resources-servlet"]
  path = resources-servlet
  url = git@github.com:ao-apps/semanticcms-core-resources-servlet.git
  branch = .
[submodule "servlet"]
  path = servlet
  url = git@github.com:ao-apps/semanticcms-core-servlet.git
  branch = .
[submodule "sitemap"]
  path = sitemap
  url = git@github.com:ao-apps/semanticcms-core-sitemap.git
  branch = .
[submodule "style"]
  path = style
  url = git@github.com:ao-apps/semanticcms-core-style.git
  branch = .
[submodule "taglib"]
  path = taglib
  url = git@github.com:ao-apps/semanticcms-core-taglib.git
  branch = .
[submodule "theme-base"]
  path = theme-base
  url = git@github.com:ao-apps/semanticcms-core-theme-base.git
  branch = .
[submodule "view-content"]
  path = view-content
  url = git@github.com:ao-apps/semanticcms-core-view-content.git
  branch = .
